:root {
    --main-color: #fbeee0;
    --accent-color: #fbe0ee;
    --dark-accent-color: #422800;
}

@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Heavy.ttf') format('truetype');
    font-weight: 400;

}
@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-ExtraLight.ttf') format('truetype');
    font-weight: 300;
}
h1, h2{
    font-family: 'Nexa', 'Courier New';
    font-weight: 400;
}

h3, p, button, label {
    font-family: 'Nexa', 'Courier New';
    font-weight: 300;
}
* {
    margin: 0;
    padding: 0;
}


#header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

#books-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    grid-template-rows: repeat(auto-fill, 275px);
    gap: 20px;
    padding: 20px;
}
.book-card {

    background-color: var(--accent-color);
    border: 2px solid var(--dark-accent-color);
    border-radius: 30px;
    box-shadow: var(--dark-accent-color) 4px 4px 0 0;


    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    padding: 20px;
    border-radius: 20px;
}

.book-card * {
    margin: 5px;
}

.book-card > div > button{
    border-radius: 20px;
    height: 40px;
}


button {
  background-color: var(--main-color);
  border: 2px solid var(--dark-accent-color);
  border-radius: 30px;
  box-shadow: var(--dark-accent-color) 4px 4px 0 0;
  color: var(--dark-accent-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: var(--dark-accent-color) 2px 2px 0 0;
  transform: translate(2px, 2px);
}


dialog {
    padding: 30px;
    background-color: var(--accent-color);
    border: var(--dark-accent-color) solid 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

dialog > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog > form > h1 {
    align-self: center;
}

dialog input {
    flex: 1;
    margin-left: 10px;
    border-radius: 10px;
    
}



dialog> form > div:has(label) {
    display: flex;
}

#buttons-in-form {
    align-self: center;
}

#buttons-in-form > button {
    height: 40px;
    margin-left: 10px;
}

